@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: Roboto;
  font-weight: 400;
  background: url("../image/bgc.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  height: 100vh;
}

.top-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.progress-bar {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

.main-background {
  position: absolute;
  width: 100%;
  z-index: -100;
  background-size: 12%;
  background: url("../image/main-screen__bgc.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login {
  max-width: 190px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
}

.btn-login {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 10px 30px;
  color: #ffffff;
}

.btn-login a {
  text-decoration: none;
  color: white;
}

.login:hover {
  background: linear-gradient(85.26deg, #a362ee 15.51%, #a8289e 50.23%);
}

.navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

.nav-item {
  padding: 0 26px;
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 64px;
  line-height: 140%;
  color: white;
}

/*main-screen-content*/
.main-screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 198px;
}

.title {
  max-width: 920px;
  padding-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;
  color: #ffffff;
}

.count-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
  margin: 5px;
  background: #121212;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cyfer {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}

.word {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
  opacity: 0.4;
  text-align: center;
}

/*main-screen-last-line*/
.main-screen-last-line {
  background: #121212;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-curs {
  margin-bottom: 10px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
}

.order-curs a {
  text-decoration: none;
  color: #ffffff;
}

.btn-order {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding: 10px 30px;
}

.order-curs:hover {
  background: linear-gradient(84.78deg, #db8f89 11.19%, #39063a 93.72%);
  -webkit-transition: all;
  transition: all;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.4;
  padding-right: 30px;
}

.stat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.percent {
  padding: 0;
}

/*about*/
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: white;
}

.about-content {
  margin-top: 200px;
}

.doing-img {
  max-width: 500px;
  height: auto;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-doing {
  padding-left: 139px;
  max-width: 636px;
}

p {
  line-height: 160%;
  color: #ffffff;
}

/*start*/
.start {
  margin-top: 200px;
}

.item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-start {
  max-width: 411px;
  color: #ffffff;
  opacity: 0.5;
}

.diagram {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diagram-text {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-100 {
  width: 100%;
  height: 80px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.bg-75 {
  width: 100%;
  height: 60px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.bg-50 {
  width: 100%;
  height: 30px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.result {
  width: 100%;
  height: 10px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.table > tbody {
  vertical-align: middle;
}

thead,
tr,
th,
tbody {
  border: none;
}

.table > :not(caption) > * > * {
  padding: 0;
  padding-bottom: 20px;
}

th {
  color: white;
}

.th-head {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #ffffff;
}

/*advatages*/
.advatages {
  margin-top: 200px;
  margin-bottom: 200px;
}

.h2-padding {
  padding-bottom: 120px;
}

.img-card {
  width: 100px;
  height: 100px;
}

.card-body {
  padding-top: 60px;
}

.item-advanteges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22rem;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.card {
  border: none;
}

.partners {
  margin-bottom: 153px;
}

.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-partner {
  width: 198px;
  height: 93px;
}

.item-partners {
  padding-right: 66px;
  padding-bottom: 29px;
  padding-left: 66px;
  padding-top: 29px;
}

.item-partners:nth-child(odd) {
  border-right: 1px solid #fff;
}

.item-partners:nth-child(3) {
  border-left: 1px solid #fff;
}

.border-line-bottom {
  border-bottom: 1px solid #fff;
}

.program {
  margin: 0 auto;
  max-width: 750px;
}

.block-title-program img {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.block-title-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-program {
  max-width: 411px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

.text-curs {
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}

.p-curs {
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.5;
}

.list-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-program > :not(caption) > * > * {
  border-bottom: none;
}

td:nth-child(2n-1) {
  text-align: right;
}

td:nth-child(2n) {
  text-align: left;
}

.line {
  width: 40px;
  height: 0;
  opacity: 0.3;
  /* white */
  border: 1px solid #ffffff;
}

.line-center {
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.teachers {
  margin-top: 170px;
}

.title-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 113px;
}

.title-teacher img {
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.list-techer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.biografia {
  border: 1px solid white;
  border-radius: 50px;
}

.btn-biograf {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.btn-biograf a {
  text-decoration: none;
  color: #fff;
}

.footer {
  margin-top: 200px;
}

.block-footer {
  width: 547px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control {
  border-radius: 50px 0px 0px 50px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  line-height: 160%;
}

.text-footer {
  color: #ffffff;
  line-height: 160%;
  opacity: 0.5;
}

.btn {
  width: 160px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
}

.social-icons {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-item {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.social-icons a {
  text-decoration: none;
  color: #fff;
}

.social-icons a:hover {
  color: #df5950;
}

.fab {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .navbar-brand {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar-toggler {
    margin: 0.5rem 0.8rem;
  }
  .last-line {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */